/* **************************************************************************************/
/*   GENERAL */
/*    ************************************************************************************* */
.body{
    background-color: white;
    color: #1b4a67;
    font-family: 'Allerta', 'Droid Sans';
}

#all-content{
    padding-left: 0px;
    padding-right: 0px;
}

h2, h3{
    text-transform: uppercase;
    font-size: 30px;
}

/* NAVUGATION */
.navig{
    background-color: white;
    padding-bottom: 20px;   
    padding-top: 34px;
    text-transform: uppercase;
}


#navcon{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
} 

.navbar.navbar-default{
    margin-bottom: 0px;
    background-color: white;

} 

.nav.navbar-nav{
    float: right;
    padding-top: 43px;
}

.nav>li>a{
    padding: 7px 7px;
    color: #504944;
}

.main-logo{
    display: block;
    float: left;
    padding-right: 10px;
}

.navig ul.nav.nav-pills{
    padding-top: 32px;
}

.dropdown-menu>li>a{
    color: #504944;
    /*font-size: 12px; */
}

.social-net i{
    font-size: 20px;
    padding-top:0px;
}

nav .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}


/* END NAVIGATION */

.container-fluid{
    background-color: #dee0d7;
}


.sections.container-fluid{
    max-width: 1200px;
} 


.carousel-inner img{
    width: 100%;
}

.carousel-indicators{
    display: none;
}

.right-control{
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 266px;
}

.right-control img{
    padding-right: 10px;
}

.left-control{
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 266px;
}

.left-control img{
    padding-left: 10px;
}



/* END CAROUSEL */

#blue-bar img{
    width: 100%;
}

/* WHO-WE-ARE SECTION */
.who-we-are{
    color: #1b4a67;
    background-color: white;
}
.who-are{
    background-color: white;
    text-align: justify;
}

.wh-re.container-fluid{
    background-color: white;    
}

.wh-re-left .col-md-4{
    padding-left: 0px;
}

.wh-re{
    width: 100%;
}

.wh-re h2{
    margin-top: 0px;
    margin-bottom: 10px;
}



.separator{
    background-color: white;
    text-align: center;
}


/* ////////////WHAT WE DO SECTION///////////////// */

.what-we-do{
    background-color: #bcd5e6;
    color: #1b4a67;    
    padding-bottom: 0px;
}

.what-we-do .thumbnail .caption{    
    color: #1b4a67;

}

.what-we-do h2{
    margin-top: 0px;
    margin-bottom: 40px;
}


.wh-do-row{
    display: inline-block;
    float: left;
    max-width: 1040px;
    padding-bottom: 30px;
}


.wh-do{
    max-width: 240px;
}


.thing{
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.wh-do img{
    width: 100%;
}

.logo-wh-do{
    display: block;
    float: left;

}

.logo-wh-do img{
    width: 110%;
    padding-left: 140px;
}

.wh-do p{
    border-style: solid;
    border-color: white;
    border-width: thin;
    
}

.wh-do .caption h3 {
    font-size: 15px;
}

/* carousel what-we-d- devices */
.right-control2{
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 100px;
}

.right-control2 img{
    padding-right: 5px;
}

.left-control2{
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 100px;
}

.left-control2 img{
    padding-left: 5px;
}


/* ////////////END WHAT WE DO SECTION///////////////// */


.contact-us{
    background-image: url("contact-us-background.png");
    color: white;
    
}

.thumbnail{
    border-radius: 0px;
}

.news{
    background-color: white;
    
}

.news.row h2{
    padding-bottom: 40px;
}



.img-log{
    padding-right: 10px;
}

.separator #log-flag{
    width:100%;
}


.separator #log-circles{
    padding: 30px;
}

#contact-img-logo{
    max-width: 100%;
}

 body > div {
    padding-left: 0px;
    padding-right: 0px;
}



/* **************************************************************************************/
/*   For Mobile 480px */
/*    ************************************************************************************* */

@media only screen and (max-width: 480px) {

.navbar-toggle.collapsed{
        float: left;
        margin-left: 15px;
    }
    
 .soc-resp .social-net a{
        padding: 3px
    } 
    
    .navig{
     padding-left: 15px;
    padding-right: 15px;
    }
    
    .main-logo img{
      margin-left: 48%;
     margin-right: 30%;
    }
    
    .soc-resp{
     display: inline-block;
    float: right;
        margin-right: 15px;
    margin-top: 15px;
    }
    
    .soc-resp .nav-tabs{
            border-bottom: none;
    }
    
    .navbar-toggle {
        float: left;
    }
    
    .nav.navbar-nav{
        float: left;
    }
    
    .whatWeDoCarouselInner{
/*        color: red;*/
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .newsCarouselInner{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    


}



/* **************************************************************************************/
/*   For DESKTOP min 1280
/*    ************************************************************************************* */

@media only screen and (min-width: 1200px) {
.who-are.container-fluid{
    padding: 50px 100px 50px 100px;
}

.what-we-do.container-fluid{
    padding: 50px 60px 50px 100px;
}

.news.row{
    padding: 50px 60px 50px 100px;
}

.contact-us.container-fluid{
    padding: 50px 300px 50px 300px;
}
     
}
